[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/wzzll123/tvm
[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCm/composable_kernel
[submodule "3rdparty/catlass"]
	path = 3rdparty/catlass
	url = https://gitcode.com/cann/catlass.git
[submodule "3rdparty/pto-isa"]
	path = 3rdparty/pto-isa
	url = https://gitcode.com/cann/pto-isa.git
[submodule "3rdparty/shmem"]
	path = 3rdparty/shmem
	url = https://gitcode.com/cann/shmem
